.main-body{
    .card-img-top{
        height: 350px;
    }
    .fa{
        position: absolute;
        right: 2%;
        font-size: 18px;
        top: 1%;
        opacity: 60%;
        cursor: pointer;
    }
}