<div class="container py-5">

<h5>Frequently Asked Questions :</h5>

<ol>
    <li>
        <div><b>Can I order online?</b></div>
        <p>Yes, you can place the order for your desired and selected products from our website, App.</p>
    </li>

   <!--  <li>
        <div><b>What is the payment method?</b></div>
        <p>In future we have the facility of Online Payment and Cash on delivery both, distributed according to the pin code & regions.</p>
    </li> -->

    <li>
        <div><b>What are the shipping charges?</b></div>
        <p>Shipping charges is Rs. 100/- all over India.</p>
    </li>

    <li>
        <div><b>You ship internationally?</b></div>
        <p>We are working on it. As of now we have not started shipping internationally</p>
    </li>

    <li>
        <div><b>Which company the delivery of the parcel is done?</b></div>
        <p>As we are a reputed Brand in India, so we have our shipping and delivery partner.</p>
    </li>
</ol>

</div>