<footer class="footer-section">
    <div class="row">
        <div class="col-3">
            <h6>CONTACT US</h6>
            <div>
                <i class="fa fa-map-marker pe-4"></i>
                <span>B401, 4TH FLOOR, BANKRA SUPER MARKET, BANKRA, HOWRAH - 711403</span>
            </div>
            <div>
                <i class="fa fa-phone pe-4 pt-4"></i>
                <span>(+91)9007156749</span>
                <br>
                <i class="fa fa-phone pe-4 pb-4"></i>
                <span>(+91)8647963213</span>
            </div>
            <div>
                <i class="fa fa-envelope pe-4"></i>
                <span>lehenga-imperial@gmail.com</span>
            </div>
        </div>
        <div class="col-3">
            <h6>HELP & POLICIES</h6>
            <div>
                <div>Terms & Conditions</div>
                <div>Privacy Policy</div>
                <div>Shipping & Delivery</div>
                <div>Return & Cancellation</div>
                <div>Where is my order</div>
                <button type="button" class="btn btn-light p-0 mt-1 me-1"> <img src="../../../assets/images/gplay.png"></button>
                <button type="button" class="btn btn-light p-0 mt-1"> <img src="../../../assets/images/apple_store.png"></button>
                
            </div>
        </div>
        <div class="col-3">
            <h6>CUSTOMER SUPPORT</h6>
            <div>
                <button type="button" class="btn btn-outline-info p-2 mt-4" (click)="goToFAQ()">Frequently Asked Questions</button>
                <button type="button" class="btn btn-outline-info p-2 mt-4" disabled>How to Place An Order</button>
                <button type="button" class="btn btn-outline-info p-2 mt-4" disabled>How To Make Payment</button>
            </div>
        </div>
        <div class="col-3">
            <h6>FOLLOW US</h6>
            <div>
                <i class="fa fa-facebook"></i>
            </div>
            <div>
                <i class="fa fa-instagram"></i>
            </div>
            <div>
                <i class="fa fa-twitter"></i>
            </div>
            <div>
                <i class="fa fa-pinterest"></i>
            </div>
            
        </div>

    </div>
</footer>